@import '~src/sass/variables';


.container{
    display: flex;
    justify-content: space-between;
}

.logo{
    display: inline;
}

.logo img{
    position: relative;
    top: 20%;
}
    ul{
        display: inline;
    }

li{
        list-style-type: none;
        display: inline;
        padding: 1em;
        justify-content: flex-end;
        color: $gray-violet;
        font-weight: 400;
    }
li:hover{
    color: $dark-violet;
    cursor: pointer;
}

