@import '~src/sass/variables';

.footer{
    color: white;
    background: $very-dark-violet;
    display: flex;
    flex-direction: row;
    padding: 2em 10%;
}

.footer * {
    flex: 0;
    font-size: 12px;
    margin: 0;
    padding: 0;
    flex-grow: 1;
}

.footer :nth-child(1){
    flex-grow: 2;
}
.footer img{
    color: white;
    max-height: 2em;
}

.footer div h5{
    margin-bottom: 1em;
}
.footer div ul li{
    color: $gray;
    list-style-type: none;
    padding: 5px 0;
}

.white{
    filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(194deg) brightness(112%) contrast(101%);
}

.social img {
    padding: 0 1em;
}

.social{
    display: flex;
    justify-content: end;
}
