<div class="footer">
    <div>
        <img src='assets/img/logo.svg' class='white'>
    </div>
    <!-- four columns -->
    <div>
        <h5>Features</h5>
        <ul>
            <li *ngFor="let feature of features">{{feature}}</li>
        </ul>
    </div>
    <div>
        <h5>Resources</h5>
        <ul>
            <li *ngFor="let resource of resources">{{resource}}</li>
        </ul>
    </div>
    <div>
        <h5>Company</h5>
        <ul>
            <li *ngFor="let pages of company">{{pages}}</li>
        </ul>
    </div>
        <!-- logo  
             links
             social links -->
    <div>
        <img src='assets/img/icon-facebook.svg' class='white'>
    </div>
</div>

