@import './variables';

body{
    font-size: 18px;
    font-family: 'Poppins', sans-serif !important;
    font-weight: 500;
    margin: 0;
}

h1, h2, h3, p, li{
    font-family: 'Poppins', sans-serif !important;
}

h1{
    color: $dark-violet;
}

.roundedBtn{
    @include roundedBtn;
}

.roundedBtnBig{
    @include roundedBtn;
    padding: 10px 30px;
}

.roundedBtn-2{
    @include roundedBtn;
    border-radius: 5px !important;
    font-size: 18px;
    padding: 12px 30px;
}