@import '~src/sass/variables';
@import '~src/sass/styles';

.container{
    padding: 0 10%;
    margin-top: 1em;
}

.hero{
    display: flex;
    margin-top: 3em;
}
    .hero-cta{
        flex-basis: 50%;
        align-items: start;
        display: flex;
        flex-direction: column;
    }
    .hero-cta h1{
        font-size: 65px;
        margin-bottom: 0;
        line-height: 1.2em;
    }
    .hero-cta p{
        margin-top: 0;
        color: $dark-violet;
    }
    .hero-img{
        width: 50%;
    }

.advanced-statistics{
    text-align: center;
    padding: 2em;
}

.advanced-statistics p{
    max-width: 500px;
    margin: auto;
}

.boost{
    background-color: $dark-violet;
    text-align: center;
    padding: 2em;
   color: white;
}

.call{
    background-color: $gray;
    padding: 10% 10%;
}

.bar::after{
    content: "";
    height: 10px;
    margin-left: 1em;
    margin-top: -5px;
    left: 100%;
    top: -50%;
    position: relative;
    display: block;
    background: $cyan;
    z-index: 0;
}

// infographic cards

.infographic{
    display: flex;
    flex-direction: row;
    padding: 2em 0;
}

.infographic :nth-child(2){
    top: 2em;
}

.infographic :nth-child(3){
    top: 4em;
}
.infobox{
    flex: 1 1 auto;
    padding: 1em;
    background-color: white;
    border-radius: 5px;
    max-height: 200px;
    margin: 1em;
    z-index: 1;
    position: relative;
}

.infobox p{
    font-size: 14px;
    color: $dark-gray;
}

.round{
    border-radius: 50%;
    background-color: $dark-violet;
    position: relative;
    width: 4em;
    height: 4em;
    display: flex;
    margin-top: -3em;
}

.round img{
    width: 2em;
    height: 2em;
    margin: auto;
}