<div class="container">
<app-header></app-header>
    <!-- hero -->
    <div class="hero">
        <div class="hero-cta">
            <h1>More than just shorter links</h1>
            <p>Build your brand's recognition and get detailed insights on how your links are performing.</p>
            <button class="roundedBtnBig">Get Started</button>
        </div>
        <div class="hero-img">
            <img src="assets/img/illustration-working.svg">
        </div>
    </div>
</div>
    <app-shorten-link></app-shorten-link>
    <!-- advanced statistics -->
         <div class="call">
            <div class="advanced-statistics">
            <h2>Advanced Statistics</h2>
            <p>Track how your links are performing across the web with our advanced statistics dashboard</p>
        </div>
        <div class="infographic">
            <!-- info graphic -->
            <div class="infobox bar">
                <div class="round">
                    <img src="assets/img/icon-brand-recognition.svg">
                </div>
                <h4>Brand Recognition</h4>
                <p>Boost your brand recognition with each click.
                    Generic links don't mean a thing. Branded links help instil
                    congidence in your content.
                </p>
            </div>
            <div class="infobox bar">
                <div class="round">
                    <img src="assets/img/icon-detailed-records.svg">
                </div>
                <h4>Detailed Records</h4>
                <p>Gain insights into who is clicking your links.
                    Knowing when and where people engage with your content
                    helps inform better decisions.
                </p>
            </div>
            <div class="infobox">
                <div class="round">
                    <img src="assets/img/icon-fully-customizable.svg">
                </div>
                <h4>Fully Customizable</h4>
                <p>Improve brand awareness and content discoverability through
                    customizable links, supercharging audience engagement.
                </p>
            </div>
        </div>
    </div>
    <!-- get -->
    <div class="boost">
        <h2>Boost Your Links Today</h2>
        <button class="roundedBtnBig">Get Started</button>
    </div>
    <app-footer></app-footer>

