@import '~src/sass/variables';
@import '~src/sass/styles';

.link-container{
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 1em auto;
}

.link-container div{
    display: flex;
    align-items: center;
    padding: 1em;
}

.link-container div a {
    padding-right: 1em;
    text-decoration: none;
}

 .link-container p {
     padding: 10px 1em;
 }

.links{
    background-color: $gray;
    padding: 1em;
}

.short-link{
    color: $cyan;
}

.rForm{
    margin: auto;
    
}