@import '~src/sass/variables';
@import '~src/sass/styles';

.link-container{
    border-radius: 5px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 5px 1em;
    margin-top: 1em;
}

.link-container div{
    display: flex;
    align-items: center;
}

.link-container div a {
    padding-right: 1em;
    text-decoration: none;
}

.links{
    background-color: $gray;
    padding: 4.5em 10%;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
}

.short-link{
    color: $cyan;
}

.rForm{
    margin: 1em 10%;
    background-color: $dark-violet;
    padding: 2.5em;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    background-image: url("/assets/img/bg-shorten-desktop.svg");
    background-position: center;
}

.rForm-wrap{
    width: 80%;
}
.rForm-wrap input{
    width: 90%;
    border-radius: 10px;
    padding: 1rem;
    border: none;
    font-family: inherit;
    font-size: inherit;
    padding-left: 1.5em;
}

.rForm input:focus{
    outline: none;
}



.alert-form::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: pink;
  }

.alert{
    position: absolute;
    padding: 5px;
    color: red;
    font-size: 14px;
    font-style: italic;
}

form{
    margin-bottom: -5em;
    position: relative;
}