<form [formGroup]='rForm' >
    <div class="rForm">
    <div class="rForm-wrap">
        <input 
            (keyup.enter)="shortenUrl(url.value)"
            [ngClass]="url.touched && !url.valid ? 'alert-form' : 'form-ready'"
            formControlName="url" 
            type="text"
            id="url"
            class="form-control"
            placeholder="Shorten a link here...">
        <div *ngIf="url.touched && !url.valid" class="alert">
            <div *ngIf="url.errors.required">Please add a link</div>
            <div *ngIf="url.errors.pattern">Please enter valid link</div>
        </div>
    </div>
    <button (click)="shortenUrl(url.value)" class="roundedBtn-2">Shorten it!</button>
</div>
</form>
<div class="links">
    <div *ngFor = "let item of shortenedLinks" >
            <card [item]='item'></card>
    </div>
</div>
