<div>
    <form [formGroup]='rForm' (ngSubmit)="shortenUrl(rForm.value)">

        <input 
            formControlName="url" 
            type="text"
            id="url"
            class="form-control"
            placeholder="Shorten a link here...">
        <div *ngIf="url.touched && url.invalid" class="alert">
            <div *ngIf="url.errors.required">URL required.</div>
            <div *ngIf="url.errors.pattern">Please enter valid URL.</div>
        </div>
        <button (click)='true'>Shorten it!</button>
    </form>
</div>